.pie-de-pagina{
    bottom: 0;
    width: 100%;
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
h1{
    color: #8F305B;
    width: 400px;
    height: 10px;
    background-color: initial;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 0px;
    border: 10px; 
    border-style: double;
    border-color: pink;
    margin: 10px;
    text-align: center;
    
}
body{
    margin: 0;
    background-image: url(../imagenes/perrito.jpg);
    background-repeat: inherit;
}
#notipoli{
    color: #2c732e ;
}
#notidepor{
    color: #81A035;
}

#parrafodistinto{
    color: #983351;
    text-align: right;
    background-color: azure;
}
ul{
    color: coral;
    text-align: justify;
}
.bloque1-1{
    width: 200px;   
    height: 100px;
    background-color: papayawhip;
    background-size: contain;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin: 5px;
    border: #8F305B;
    border-style: groove;
    border-color: violet;

}
#titulolista{
    color: #4D2C73;
    text-decoration: double;
    text-align: center;
    text-decoration-style: wavy;
}
#enlacevideo{
    color: aliceblue;
    text-decoration: dotted;
    text-align: center;
    text-decoration-line: blue
}
#imagenmover{
    display: flex;
    padding: 5px;
    border-color: #c01146;
    margin: 10px;
    border-style: groove;
    border-width: 10px;
    padding-right: 10px;
    padding-left: 30px;
    width: 325px;
}


#bloque1{
    display: flex;
}

.izquierda{
    background-color: #81A035;
    padding: 20px;
    border-radius: 5px;
    border-color: chocolate;
    margin: 30px;
    width: 90px;
    content: icon;
}

.derecha{
    width: 30px;
    padding: 10px;
    border: 10px;
    margin: 5px;
    border-bottom: #983351;
}
#bloque2{
    display: flex;
    justify-content: start;
}

.izquierda1{
    width: 300px;
    margin: 5px;
    padding: 10px;
}

.derecha1{
    background-color: #df3bbe;
    padding: 20px;
    border-radius: 5px;
    margin: 30px;
    width: 150px;
    content: icon;
    

}

#parra2{
    margin: 10px;
    padding: 10px;
    height: 20px;
    color: aliceblue;
}

.botonera{
    display: flex;
    background-color: darkslategray;
    padding-left: 0;
}

.boton{
    list-style: none;
    margin: 0px 10px;
    color:darkorange;
    text-transform: uppercase;
    padding: 15px;
}

li:hover{
    background: #983351;
}

#titulohistoria{
    color: indianred;
    border-color: yellow;
    text-decoration: overline;
}
 .parrafohistoria1{
    color: aliceblue;
    text-shadow: #c01146;
    background-color: #8F305B;
    padding: 0px 20px;
    margin: 0px 30px;
    
 }

 #bloque3{
    display: flex;
    align-items: flex-start;
 }
 .parrafohistoria2{
    color: aliceblue;
    text-shadow: #a5e20c;
    background-color: #4868ea;
    padding: 0px 20px;
    margin: 0px 30px;
 }
 .parrafohistoria3{
    color: aliceblue;
    text-shadow: #11c051;
    background-color: #28dc5b;
    padding: 0px 20px;
    margin: 0px 30px;
 }
 .parrafohistoria4{
    color: aliceblue;
    text-shadow: #11c051;
    background-color: #e9430c;
    padding: 0px 20px;
    margin: 0px 30px;
 }

 .parrafohistoria5{
    color: aliceblue;
    text-shadow: #11c051;
    background-color: #e3ea1a;
    padding: 0px 20px;
    margin: 0px 30px;
 }

 #fotosperritos{
    display: flexbox;
 }

 .tamaniofotos{
   width: 300px;
   height: 250px;
    padding: auto;
    margin: 20px;
    border-radius: 30px;
    border-style: ridge;
    border-color: fuchsia;
 }

 .bloquebago{
    display: flex;
 }

thead, tr, td{
    color: black;
    border: solid;
    background-color: white;
    height: 30px;
}

.encabezado{
    background-color: white;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

#imglogo{
    height: 40px;
    width: auto;
}

#nombreencabezado{
    margin-right: 20px;
    font-size: 20px;
    font-style: inherit;


}